.password-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
  
.input-container {
    position: relative;
    display: flex;
    align-items: center;
}
  
.password-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    outline: none;
    background-color: #f4ecec;
    border: none;
    padding: 15px 0px 14px 14px;
}
  
.password-toggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 14px;
    color: #808080;
}

  