.responsive-sidebar {
    width: 300px;
    height: calc(100vh - 69px);
    border-right: 1px solid var(--blues-blue-colour-01, #CED8E8);
    background: #FBFBFB;   
    transition: width 0.3s ease-in-out;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 67px;
}
  
.responsive-sidebar.collapsed {
    width: 60px;
}
  
.sidebar-menu{
    width: 300px;
    height: 90%;
    position: relative;
}

.sidebar-menu li{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.polly{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.links {
    color: black; 
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px; 
    padding: 11px 10px 13px 40px;
    width: 100%;
}
  
.links:hover {
    color: white; 
}

.links svg {
    width: 20px; 
    height: 20px;
}
  
.links{
    text-decoration: none;
    gap: 20px;
}

.sidebar-menu li:hover{
    background-color: #325D9E;
    color: #FBFBFB;
}

.sidebar-menu .links:hover{
    color: #FBFBFB;
}

.sidebar-menu li:hover svg{
    stroke: #FBFBFB;
}

.sidebar-menu svg{
    stroke: #6a6e83;
    width: 19px;
    height: 19px;
}

.last-child:last-of-type{
    margin-top: auto;
}

.toggle-button {
    display: none;
    position: fixed;
    top: 10px;
    right: 25px;
    cursor: pointer;
    z-index: 1000;
    padding: 10px;
}

.menuIcon{
    width: 30px;
    height: 30px;
    color: #6a6e83;
}

.polly{
    margin-top: auto;
}

  
@media screen and (max-width: 1200px) {
    .responsive-sidebar {
        z-index: 1000;
    }
    
    .responsive-sidebar.collapsed {
      width: 0;
    }
  
    .responsive-sidebar.collapsed .sidebar-menu {
      display: none;
    }
  
    .toggle-button {
      display: block;
    }
}
  